header {
    align-self: flex-end;
    
    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 2rem;
        padding: 0.5em 0;

        span {
            font-weight: bold;

            &.small {
                font-size:0.5em;
            }
        }
    }
}