/* You can add global styles to this file, and also import other style files */

$color-primary: #4560e5;
$color-primary-light: #FF3366;
$color-primary-dark: #BA265D;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;


$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }
}

body {
    text-align: center;
    font-family: "Quicksand",sans-serif;
    background: $color-primary;
    color: #fff;
    font-size: 100%;
    margin: 0;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
}

.btn {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: white;
    color: $color-primary;
    box-shadow: 0 3px 6px $color-primary;
    font-weight: 700;
    border-radius: 7px;
    font-size: 2em;
    margin: auto;
    width: 100%;
    max-width: 300px;
    text-align: center;
    padding: 1rem 0;
    z-index: 1;
    transition: all .3s;
    margin: 4rem auto 2rem;
    display: block;

    &:hover {
        box-shadow: 2px 4px 16px $color-primary;
        transform: translateY(-1px);
    }
}